
  <div class = 'banner'><h1> Food Truck finder</h1></div>
  <div class = 'row'>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map-canvas" style="width:500px;height:380px;"></div>
  </div>