    <div class = "header">
      <div class = 'row'>
        <h1> FoodTruckTrek</h1>
        <h3 class = "subtitle"> Find your food on the go!<h3>
      </div>
    </div>

    <input id="pac-input" class = 'controls' type="text" placeholder="Find Food">
<!--     <div class  = "alert map-overlay"> <%= %> </div>
 -->
    <form id = "filters" class = "map-overlay">
      <label>Search within</label>
      <li><input type="radio" name="range" value="0.5" checked> Walking Distance (0.5 mi)</li>
      <li><input type="radio" name="range" value="2.0">Biking Distance (2.0 mi)</li>
      <li><input type="radio" name="range" value="5.0">Driving Distance (5.0 mi)</li>

      <label>I have a taste for</label>
      <input type = "text" placeholder= "food!" name = "truckType[search]" id = "food-search">
      <li><input type="checkbox" value="fruit" name="truckType[fruit]">fruit</li>
      <li><input type="checkbox" value="snacks" name="truckType[snacks]">snacks</li>
      <li><input type="checkbox" value="burrito" name="truckType[burrito]">burrito</li>
      <li><input type="checkbox" value="sandwiches" name="truckType[sandwiches]">Sandwiches</li>
      <li><input type="checkbox" value="hot and cold drinks" name="truckType[hot and cold drinks]">drinks</li>

    </form>
    <div id="map-canvas" ></div>