    <div class = "header">
      <div class = 'row'>
        <h1> FoodTruckTrek</h1>
        <h3 class = "subtitle"> Find your food on the go!<h3>
      </div>
    </div>

    <input id="pac-input" class = 'controls' type="text" placeholder="Where are you?">

    <form id = "filters" class = "map-overlay">
<!--       <label>I have a taste for</label>
 -->      <input type = "text" placeholder= "I have a taste for Burritos, cookies ..." name = "truckType[search]" id = "food-search" style="height:30px; width:370px;"/>
      <br>
      <label>Search within</label>
      <li><input type="radio" name="range" value="0.5" checked> Walking Distance (0.5 mi)</li>
      <li><input type="radio" name="range" value="1.0">Biking Distance (1.0 mi)</li>
      <li><input type="radio" name="range" value="2.5">Driving Distance (2.5 mi)</li>
<!--       <div class = 'arrow'> ^ </div>
 -->
    </form>
    <div id="map-canvas" ></div>