    <div class = "header">
      <div class = 'row'>
        <h1> FoodTruckTrek</h1>
        <h3 class = "subtitle"> Find your food on the go!<h3>
      </div>
    </div>

    <input id="pac-input" class = 'controls' type="text" placeholder="Find Food">
<!--     <div class  = "alert"> <%= %> </div>
 -->    <div id="map-canvas" ></div>